@page
@using Radzen
@using Radzen.Blazor
@model razor_data_tools.Pages.Tools.TunecoreModel
@{
}

<script type="text/javascript">function DisplayMessage() {
            var x = document.getElementById("divMsg");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }</script>


<form class="form-horizontal" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <h1 class="h2">Import Tunecore Earnings csv data to database</h1>

        




    </div>
</form>





