@page
@model razor_data_tools.Pages.Tools.Tunecore_Earnings_ImportModel
@{

}

<script type="text/javascript">
        function DisplayMessage() {
            var x = document.getElementById("divMsg");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
</script>


<form class="form-horizontal" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <h1 class="h2">Import Tunecore Earnings csv data to database</h1>

        <div class="col-sm-10">
            <input type="file" name="files" accept=".csv" multiple />
          
            <input asp-page-handler="FileUpload" type="submit" value="Import" onClick="DisplayMessage()" />

            <div id="divMsg" style="font-size:x-large;display:none;">
                Processing Data. Please stay on page until processing is complete...
            </div>

            <p>
                @if (Model != null && Model.ImportedFileProperties != null)
                {
                    <table class="table">

                        <tr>
                            <th>File</th>
                            <th># Imported</th>
                        </tr>

                        @foreach (var importedFile in Model.ImportedFileProperties)
                        {
                            <tr>
                                <td>@importedFile.FileName</td>
                                <td>@importedFile.RecordCount.ToString()</td>
                            </tr>
                         }
                        <tr>
                            <td colspan="2">Processing is complete.</td>
                        </tr>

                    </table>
                    }

          
        </div>
    </div>
</form>
