@page



@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-2">Data Tools</h1>
    <h1 class="h2">Please choose a data tool to the left.</h1>
    
</div>
