
@if (!string.IsNullOrEmpty(SelectedCountry))
{
    <div>
        <span name="@UserMessages" onsubmit="UpdateMessage" />
    </div>
}




    @code {

[Parameter] public string SelectedCountry { get; set; }
    [Parameter] public string SelectedState { get; set; }

    [Parameter] public string UserMessages { get; set; }
    [Parameter] public string StateFieldName { get; set; }

    private static readonly List<string> Countries = new List<string> { "United Kingdom", "USA" };
    private static readonly Dictionary<string, List<string>> States = new Dictionary<string, List<string>>
                                                                {
                                                                            {"United Kingdom", new List<string>{"Devon", "Cornwall", "Somerset" } },
                                                                            {"USA", new List<string>{"New York", "Texas" } },
                                                                        };

    public void UpdateMessage(ChangeEventArgs args)
    {
        var country = args.Value as string;

        if (!string.IsNullOrEmpty(country) && Countries.Contains(country))
        {
            SelectedCountry = country;
        }
        else
        {
            SelectedCountry = null;
        }
    }
    }